/*.jumbotron {*/
    /*background-image:url("../img/coffee.jpeg");*/
    /*background-size: cover;*/
/*}*/

.form-control {
    font-family: Amatic SC;
}

h5 {
    color: white;
    font-size: 40px;
    font-family: 'Shrikhand' , cursive;
    text-shadow: black 3px 3px 3px;
}
.coffee-roast {
    color: black;
    text-shadow: white 1px 1px 1px;
}

.coffee-name {
    color: white;
    font-size: 40px;
    font-family: 'Shrikhand' , cursive;
    text-shadow: black 3px 3px 3px;

}
body {
    background-image: url("coffee-img/c3d72a4fe14f6a51c4df2f1f847400f3.jpg");
    background-size: cover;
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #C3986B;
}

h1 {
    font-family: Skranji;
    color: black;
    font-size: 75px;
    /*text-shadow: black 3px 3px 3px;*/
}

.form-control {
    font-family: Shirkhand;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
.add-coffee {
    color: white;
    text-decoration: underline;
    font-family: "Amatic SC";
}

.container {
    height: 568px;
}

.spacer-row {
    height: 25px;
}


.coffee-roast {
    font-weight: lighter;
    font-family: Arial;
}

.coffee-list {
    list-style-type: none;
    font-family: Skranji;
    font-size: 25px;
}

.submit-button {
    border: 3px solid #c09853;
    background-color: khaki;
    border-radius: 20px;
}

.container-form {
    height: 568px;
    padding: 30px;
    background:rgba(0,0,0,0.3);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px 8px black;
    font-family: Skranji;
}
.coffee-list {
    font-size: 30px;
}