html, body {
    background: blanchedalmond ;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.spacer-row {
    height: 25px;
}

.coffee-name {
    font-size: 30px;
}

.coffee-roast {
    font-weight: lighter;
}

.coffee-list {
    list-style-type: none;
}